:root {
  --black: black;
  --white: white;
  --lightgrey: #D4D6DB;
  --darkgrey: #787C7E;
  --yellow: #C9B459;
  --green: #6BAA64;
  --boxborder: #D4D6DB;
  --clearbutton: black;
  --popup: white;
  --defaultborder: #D4D6DB;
  --filledborder: #787C7E;
  --guessdist: #787C7E;
  --settingsSubtext: #787C7E;
}

.darkmode {
  --black: white;
  --white: #23272A; /*improve darkmode*/
  --lightgrey: #818384;
  --darkgrey: #3A3A3C;
  --boxborder: #3A3A3C;
  --clearbutton: #818384;
  --popup: #121213;
  --defaultborder: #3A3A3C;
  --filledborder: #818384;
  --guessdist: #3A3A3C;
  --settingsSubtext: #818384;
}

.colorblind {
  --yellow: #85C0F9;
  --green: #F5793B;
}

body {
  touch-action: manipulation;
  height: 100%;
  background-color: var(--white);
}

html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 0px;
  cursor: pointer;
  align-items: center;
  color: var(--black);
}

.left_menu {
  display: flex;
}

.middle_menu {
  width: 100%;
}

.right_menu {
  display: flex;
}

#menu_icon {
  padding-left: 5px;
  padding-right: 5px;
}

#stats_icon {
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

#hint_icon {
  padding-left: 5px;
  padding-right: 5px;
  z-index: 1;
}

#location_icon {
  padding-left: 5px;
  padding-right: 5px;
}

.title {
  text-align: center;
  text-indent: 15px;
  font-family: 'Merriweather', serif;
  line-height: 0px;
  cursor: default;
  color: var(--black);
}

.line {
  margin-top: 5px;
  position: absolute;
  left: 0px;
  top: 55px;
  width: 100%;
  height: 1px;
  background-color: var(--boxborder);
  z-index: -4;
}

#main_container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#letter_box_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:50%;
}

#keyboard_container {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: -2;
  margin: 4px;
}

.keyboard_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: -2;
  margin: 1px;
}

.box {
  height: 60px;
  width: 60px;
  max-height: 120px;
  max-width: 120px;
  border: 3px solid var(--boxborder);
  border-radius: 2px;
  margin: 5px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 200%;
  line-height: 60px;
  background-color: var(--white);
  color: var(--black);
  transition: transform 1.9s ease-in-out;
}

.key {
  height: 50px;
  width: 15px;
  max-height: 100px;
  max-width: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--lightgrey);
  border: 3px solid var(--lightgrey);
  border-radius: 4px;
  margin: 3px;
  text-align: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 100%;
  line-height: 50px;
}

.enter_delete_key {
  height: 50px;
  width: 50px;
  max-height: 100px;
  max-width: 90px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--lightgrey);
  border: 3px solid var(--lightgrey);
  border-radius: 4px;
  margin: 3px;
  align-items: center;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 100%;
  line-height: 50px;
  justify-content: center; 
}

#spacing_container {
  height: 15px;
}

#clear_row_button {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  transform-origin: left top;
  color: var(--clearbutton);
}

.pop_up {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 500px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  background-color: var(--popup);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: var(--black);
  z-index: 2;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--white);
  align-items: center;
  text-align: center;
  z-index: 1;
}

.pop_up_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

a:link {
  color: var(--settingsSubtext);
}

a:visited {
  color: var(--settingsSubtext);
}

a:hover {
  color: var(--settingsSubtext);
}

a:active {
  color: var(--settingsSubtext);
}

.stats_container {
  width: 95%;
  height: 90px;
  align-items: center;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: row;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.stats_subcontainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 75px;
  align-items: center;
  text-align: center;
}

.stats_field {
  height: 25%;
  font-size: 100%;
  font-weight: 500;
}

.stats_descr {
  height: 25%;
  font-size: 100%;
  font-weight: 300;
}

#guess_container {
  width: 95%;
  height: 150px;
  padding: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  align-items: left;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  font-size: 125%;
  line-height: 150px;
  display: flex;
  flex-direction: column;
}

.spacer {
  width: 95%;
  height: 10px;
}

.airport_container_finished {
  width: 95%;
  height: 90px;
  align-items: center;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: row;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  justify-content: center; 
}

.airport_subcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.airport_details {
  height: 100%;
  font-size: 100%;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.details {
  height: 100%;
  align-items: center;
  font-size: 100%;
  font-weight: 300;
}

.airport_container_unfinished {
  width: 95%;
  height: 90px;
  font-family: 'Rubik', sans-serif;
  background-color: pink;
  opacity: 0.5;
  border: 2px solid purple;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  color: purple;
  font-size: 100%;
  line-height: 90px;
}

.exit_div {
  position: relative;
  top: 20px;
  width: 95%;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.exit_filler {
  width: 100%;
}

#exit_button {
  cursor: pointer;
}

.settings_exit_div {
  position: relative;
  top: 20px;
  width: 95%;
  height: 20px;
  display: flex;
  flex-direction: row;
}


#settings_exit_button {
  cursor: pointer;
  color: var(--black);
}

.tutorial_exit_div {
  position: relative;
  top: 20px;
  width: 95%;
  height: 20px;
  display: flex;
  flex-direction: row;
}


#tutorial_exit_button {
  cursor: pointer;
  color: var(--black);
}

#hint_dropdown_id {
  position: absolute;
  left: 40px;
  top: 10px;
  width: 28px;
  height: 28px;
  border: 2px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  visibility: visible;
  transition: height 1s;
  color: var(--black);
}

#not_a_code_msg {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  position: absolute;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#secret_code {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  position: absolute;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dropdownButton{
  position: absolute;
  cursor: pointer;
}

.bar_graph_bar_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  padding: 0px;
  padding-right: 5px;
}

.bar_graph_bar_number {
  color: var(--black);
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  margin-right: 5px;
  font-weight: 300;
}

.bar_graph_bar {
  background-color: var(--guessdist);
  padding-left: 3px;
  min-width: 10px;
  width: 1px;
  /*padding-right: 5px;
  margin-top: 5px;*/
  padding-right: 5px;
  height: 100%;
  color: white;
  line-height: 20px;
  text-align: right;
  /*align-items: center;*/
  font-size: 12px;
} 

#settings_container {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  color: var(--black);
  z-index: 2;
}

#tutorial_container {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  color: var(--black);
  z-index: 2;
}

#settings_container_sub {
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  /*border: 1px dashed blue;*/
}

#settings_unflex {
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--white);
  /*border: 1px dashed blue;*/
}

.settings_row {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  /*height: 50px;*/
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  /*line-height: 50px;*/
  /*border: 1px dashed purple;*/
}

.settings_spacer {
  width: 100%;
  height: 15px;
  /*border: 1px dashed green;*/
  /*position: absolute;
  top: 0px;
  left: 0px;*/
}

#tutorial_container_sub {
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  /*border: 1px dashed blue;*/
}

#tutorial_unflex {
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--white);
  /*border: 1px dashed blue;*/
}

.tutorial_row {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  /*height: 50px;*/
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  /*line-height: 50px;*/
  /*border: 1px dashed purple;*/
}

.tutorial_spacer {
  width: 100%;
  height: 15px;
  /*border: 1px dashed green;*/
  /*position: absolute;
  top: 0px;
  left: 0px;*/
}

.settings_row_left {
  /*position: relative;
  left: 0px;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  /*border: 1px dashed red;*/
}

.settings_row_right {
  position: absolute;
  justify-content: right;
  align-items: center;
  right: 0px;
  height: 41px;
  width: 10%;
  /*border: 1px dashed blue;*/
}

.settings_row_right_text {
  font-family: 'Rubik', sans-serif;
  color: var(--settingsSubtext);
  font-size: 18px;
  position: absolute;
  justify-content: right;
  text-align: right;
  align-items: right;
  right: 0px;
  height: 45px;
  width: 10%;
  margin-right: 0px;
  /*border: 1px dashed blue;*/
}

.settings_row_left_one {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  /*margin-top: 20px;*/
  font-weight: 400;
  width: 100%;
  /*border: 1px dashed green;*/
}

.settings_row_left_two {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  /*margin-top: 20px;*/
  font-weight: 300;
  width: 100%;
  color: var(--settingsSubtext);
  /*border: 1px dashed green;*/
}

.settings_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
}

.tutorial_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
}

.settings_option {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.settings_line {
  margin-top: 15px;
  /*position: absolute;
  left: 0px;
  top: 55px;*/
  width: 100%;
  height: 1px;
  background-color: var(--boxborder);
  /*z-index: -1;*/
}

#settings_exit_button {
  position: absolute;
  right: 0px;
  top: 25px;
  /*z-index: 1;*/
  /*background-color: var(--black);*/
}

/*SLIDER FROM W3 SCHOOLS*/

/* The switch - the box around the slider */
.switch {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 0px;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkgrey);
  -webkit-transition: transform .4s, background .4s;
  transition: transform .4s, background .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: transform .4s , background .4s;
  transition: transform .4s , background .4s;
}

input:checked + .slider {
  background-color: var(--green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.credits {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: var(--settingsSubtext);
  margin-bottom: 15px;
}

#elevation_icon {
  /*z-index: 4;*/
}

#elevation_dropdown {
  position: absolute;
  top: -4px;
  left: 12px;
  width: fit-content;
  height: 20px;
  border: 2px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
  z-index: -2;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  white-space: nowrap;
}

#country_dropdown {
  position: absolute;
  top: -4px;
  left: 12px;
  width: fit-content;
  height: 20px;
  border: 2px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
  z-index: -2;
  text-align: right;
  /*align-items: center;*/
  line-height: 20px;
  padding-right: 5px;
  padding-left: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  white-space: nowrap;
}

#city_dropdown {
  position: absolute;
  top: -4px;
  left: 12px;
  width: fit-content;
  height: 20px;
  border: 2px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
  z-index: -2;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  white-space: nowrap;
}

#elevation_hint_hider {
  background-color: var(--white);
  position: absolute;
  top: 54px;
  left: 25px;
  width: 11px;
  height: 20px;
  /*border: 1px dashed green;*/
}

#country_hint_hider {
  background-color: var(--white);
  position: absolute;
  top: 94px;
  left: 25px;
  width: 11px;
  height: 20px;
  /*border: 1px dashed green;*/
}

#city_hint_hider {
  background-color: var(--white);
  position: absolute;
  top: 134px;
  left: 25px;
  width: 11px;
  height: 20px;
  /*border: 1px dashed green;*/
}

#elevation_icon {
  cursor: pointer;
}

#city_icon {
  cursor: not-allowed;
  margin-bottom: 20px;
}

#country_icon {
  cursor: not-allowed;
}